nav {
	align-items: center;
	display: flex;
	background-color: #70cbf4;
	justify-content: space-between;
	padding: 0 1rem;
}

nav p {
	font-size: 1.25rem;
	font-weight: bold;
}

nav ul {
	align-items: center;
	display: flex;
	list-style: none;
}

nav ul li {
	margin-left: 0.5rem;
}

nav ul li:first-child {
	margin-left: 0;
}
